
@media (min-width: 320px) and (max-width: 575.98px) {
    
    #service {
        height: 760px;
        margin-top: 20px;
    }
.banner_content h1 {
    font-size: 21px;
    letter-spacing: 5px;
}

.banner_content h2 {
    font-size: 11px;
}
.banner_content h4 {
    font-size: 9px;
}
.banner_content a {
    font-size: 11px;
    padding: 9px 13px;
}
.slider_wrapper {
    height: 450px;
}
.title {
    border-right-color: transparent;
    padding: 5px 49px;
    margin-top: 20px;
    
}
.banner_shape {
    padding: 20px 0px;
}
.about h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}
.about h3 {
    font-size: 13px;
    
    padding-bottom: 20px;
}
.about p {
    font-size: 13px;
    
    line-height: 25px;
}
.about p span {
    font-size: 18px;
    
}
#aboutsection .about {
    border-bottom: dotted 2px #7e8287;
}
.title h2 {
    
    margin-top: 15px;
}
.title p {
    
    margin-top: 15px;
}
#service .about {
    margin-top: -112px;
}
.title2 h4 {
    
    padding-top: 10px;
    padding-bottom: 10px;
}
.contact_form {
    height: 400px;
    
}
.contact_form button {
    font-size: 11px;
    padding: 9px 30px;
}
.contact_form input {
    margin-bottom: 20px;
}
.contact_form button {
    margin-top: 35px;
}

.image1 .overlay_text {
    
    top: 5px;
    
}

}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #aboutsection .title:nth-child(2n) {
        border-right-color: transparent;
    }
    .slider_wrapper {
        height: 550px;
    }
    .banner_content h1 {
        font-size: 35px;
        letter-spacing: 11px;
    }
    .banner_content h2 {
        font-size: 20px;
    }
    .banner_content h4 {
        font-size: 15px;

    }
    .banner_content a {
        padding: 12px 40px;
    }
    .banner_shape {
        padding: 35px 0px;
    }
    .about h2 {
        font-size: 35px;
        padding-top: 30px;
        
    }
    .about h3 {
        font-size: 14px;
        padding-bottom: 20px;
    }
    .about p {
        font-size: 13px;
        
        line-height: 35px;
    }
    .title h2 {
        
        margin-top: 20px;
    }
    .title {
        
        margin-top: 45px;
    }
    .title p {
        
        margin-top: 15px;
    }
    #service {

        padding-top: 30px;
        margin-top: 35px;
        height: 560px;
    }
    .title2 h4 {
        
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #service .about p {
        padding: 0px 39px;
    }
    #contact .about h3 {
        font-size: 20px;
    }
    #contact .about h2 {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .contact_form {
        height: 460px;
        
    }
    .contact_form button {
        padding: 12px 40px;
        margin-top: 37px;
        
    }
    .contact_form input {
        
        margin-bottom: 25px;
    }
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #service {
        background-image: initial !important;
        padding-top: 0;
        margin-top: 40px;
        height: 700px;
    }
    #service .about {
        margin-top: 0px;
    }
    .slider_wrapper {
        height: 650px;
    }
    .banner_content h1 {
        font-size: 40px;
        letter-spacing: 20px;
    }
    #aboutsection .title:nth-child(2n){
        border-right-color: transparent;
    }
    .about h2 {
        font-size: 40px;
        font-weight: 800;
        color: #02918c;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .title2 p {
        
            padding: 0px 80px;
        
    }
    .title2 h4 {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .banner_content a {
        
        padding: 13px 35px;
        
    }
    .contact_form button {
        padding: 13px 35px;
        
    }
    .banner_shape {
        padding: 40px 0px;
    }
    .image1 .overlay_text {
        
        margin-top: 65px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .banner_content h1 {
        font-size: 60px;
        letter-spacing: 20px;
    }
    .title {
        padding: 30px 33px;
    }
    #service {
        padding-top: 0;
        margin-top: 50px;
    }
    #service .about {
        margin-top: 0px;
    }
    .about h2 {
        
        padding-top: 50px;
    }
    .overlay_text p {
        padding: 0px 7px;
    }
    .image1 .overlay_text {
        margin-top: 10px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    #service {
        
        margin-top: 100px;
    }
    .about h2 {
        
        padding-top: 0px;
    }
    #aboutsection {
        margin-top: 90px;
    }
    #worksection {
        margin-top: 90px;
    }
    #contact {
        margin-top: 90px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}

/* common */
@media (max-width: 991.98px) {
    #service {
        background-image: initial !important;
    }

}

@media (min-width: 1077px) and (max-width: 1199px) {
    .image1 .overlay_text {

        top: 25px;

    }

    .overlay_text p {
        padding: 0;
    }
}

@media (min-width: 356px) and (max-width: 367px) {
    .image1 .overlay_color {
        
        left: 28px;
        
    }
    .image1 .overlay_text {
        top: 14px;
    }

}

@media (min-width: 368px) and (max-width: 391px) {
    .image1 .overlay_text {
        top: 19px;
    }
    .image1 .overlay_color {

        left: 30px;

    }
    .overlay_text p {
        padding: 0px 45px;
    }

    

}

@media (min-width: 392px) and (max-width: 403px) {
    .image1 .overlay_text {
        top: 25px;
    }

    .image1 .overlay_color {

        left: 32px;

    }

    .overlay_text p {
        padding: 0px 50px;
    }
    }

    @media (min-width: 404px) and (max-width: 440px) {
        .image1 .overlay_color {
            
            left: 35px;
            top: 27px;
            
        }
        .image1 .overlay_text {
            top: 35px;
        }
    }
    @media (min-width: 441px) and (max-width: 450px) {
        .image1 .overlay_color {
            
            left: 36px;
            top: 29px;
            
        }
        .image1 .overlay_text {
            top: 38px;
        }
        }
        @media (min-width: 451px) and (max-width: 484px) {
            .image1 .overlay_text {
                top: 50%;
                transform: translateY(-50%);
                margin-top: 0;
            }
            .image1 .overlay_color {
                
                left: 40px;
                top: 31px;
                
            }
            .image1 .overlay_text p {
                padding: 0px 45px;
            }
        }

         @media (min-width: 485px) and (max-width: 549px) {
             .image1 .overlay_text {
                 top: 50%;
                 transform: translateY(-50%);
                 margin-top: 0;
             }

             .image1 .overlay_color {

                 left: 40px;
                 top: 33px;

             }

             .image1 .overlay_text p {
                 padding: 0px 95px;
             }
         }


        @media (min-width: 550px) and (max-width: 575px) {
            .image1 .overlay_color {

                left: 46px;
                top: 39px;

            }

            .image1 .overlay_text {
                top: 70px;
            }
            .image1 .overlay_text p {
                padding: 0px 95px;
            }
        }

       
        